body{
    border: 2px solid black;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
h1{
    border-bottom: 2px solid black;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: rgb(148, 198, 198);
    padding-top: 10px;
    padding-bottom: 10px;
}
form{
    font-family: sans-serif;
    background-color: rgb(236, 207, 207);
    padding:12px;
}
.div{
    font-size:2000px;
}